#card {
  border-radius: 120px;
  border-top-left-radius: 220px;
  border-bottom-right-radius: 220px;
  background-color: burlywood;
  color: #000;
  font-family: "Poppins", sans-serif;
  padding: auto;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 30px;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 30px;
}

#card:hover {
  color: orange;
  background-color: brown;
}
#image {
  border-radius: 60%;
  border-width: 20px;
}
